## Normal (aka Non-Win) Beta Calculation

### Import Packages

In [1]:
import pandas as pd
import numpy as np
import datetime as dt
import psycopg2 
import matplotlib.pyplot as plt
from dateutil.relativedelta import *
from pandas.tseries.offsets import *
from scipy import stats
import statsmodels.api as sm
import statistics
import sys
sys.path.insert(0, "../")
import util
import multiprocessing as mp
from  timeit import default_timer as timer
from importlib import reload
reload(util)

### Read in util.py Function Bank

In [2]:
from IPython.lib.backgroundjobs import BackgroundJobFunc

with open('util.py') as code:
    job = BackgroundJobFunc(exec, code.read())

result = job.run()

### Set Local Macro Variables

In [4]:
# Num of top market equity to keep
numstocks=3000

# Trailing window
window=1

### Import Data

#### Daily CRSP File

In [5]:
crsp_d = pd.read_csv('qcrspdsf_raw.csv.gz', compression='gzip', usecols=lambda x: x.lower())

crsp_d.columns = crsp_d.columns.str.lower()
crsp_d = crsp_d[['permno', 'permco', 'date', 'ret', 'retx', 'shrout', 'prc']]
crsp_d[['permno','permco']] = crsp_d[['permno','permco']].astype(int)
crsp_d['ret'] = pd.to_numeric(crsp_d['ret'], errors='coerce')
crsp_d['retx'] = pd.to_numeric(crsp_d['retx'], errors='coerce')

crsp_d['date'] = pd.to_datetime(crsp_d['date'])

crsp_d.head()

/Users/natejensen/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3437: DtypeWarning: Columns (4,6) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

   permno  permco       date       ret      retx  shrout      prc
0   10001    7953 1990-01-02  0.000000  0.000000  1022.0  10.1250
1   10001    7953 1990-01-03 -0.012346 -0.012346  1022.0  10.0000
2   10001    7953 1990-01-04  0.000000  0.000000  1022.0  10.0000
3   10001    7953 1990-01-05  0.006250  0.006250  1022.0 -10.0625
4   10001    7953 1990-01-08  0.006211  0.006211  1022.0  10.1250

In [6]:
crsp_d.dtypes

permno             int64
permco             int64
date      datetime64[ns]
ret              float64
retx             float64
shrout           float64
prc              float64
dtype: object

#### CRSP Daily Stock Event - Delisting

In [7]:
qcrspdse_raw = pd.read_csv('qcrspdse_raw.csv.gz', compression='gzip')

qcrspdse_raw = qcrspdse_raw[['permno', 'shrcd', 'exchcd', 'namedt', 'nameendt']]

qcrspdse_raw[['permno','shrcd','exchcd']] = qcrspdse_raw[['permno','shrcd','exchcd']].astype(int)
qcrspdse_raw = qcrspdse_raw[qcrspdse_raw['exchcd'].isin([1, 2, 3])]
qcrspdse_raw = qcrspdse_raw[qcrspdse_raw['shrcd'].isin([10, 11])]

qcrspdse_raw['namedt'] = pd.to_datetime(qcrspdse_raw['namedt'])
qcrspdse_raw['nameendt'] = pd.to_datetime(qcrspdse_raw['nameendt'])

qcrspdse_raw.head()

   permno  shrcd  exchcd     namedt   nameendt
0   10000     10       3 1986-01-07 1986-12-03
1   10000     10       3 1986-12-04 1987-03-09
2   10000     10       3 1987-03-10 1987-06-11
3   10001     11       3 1986-01-09 1993-11-21
4   10001     11       3 1993-11-22 2004-06-09

##### Join monthly stock data with name history

In [8]:
crsp_d = crsp_d.merge(qcrspdse_raw, on='permno', how='left')

crsp_d = crsp_d[(crsp_d.namedt <= crsp_d.date) & (crsp_d.date <= crsp_d.nameendt)]

crsp_d.head()

,permno,permco,date,ret,retx,shrout,prc,shrcd,exchcd,namedt,nameendt
0,10001,7953,1990-01-02,0.000000,0.000000,1022.0,10.1250,11.0,3.0,1986-01-09,1993-11-21
10,10001,7953,1990-01-03,-0.012346,-0.012346,1022.0,10.0000,11.0,3.0,1986-01-09,1993-11-21
20,10001,7953,1990-01-04,0.000000,0.000000,1022.0,10.0000,11.0,3.0,1986-01-09,1993-11-21
30,10001,7953,1990-01-05,0.006250,0.006250,1022.0,-10.0625,11.0,3.0,1986-01-09,1993-11-21
40,10001,7953,1990-01-08,0.006211,0.006211,1022.0,10.1250,11.0,3.0,1986-01-09,1993-11-21

#### S&P 500 Daily Index

In [9]:
crsp_sp = pd.read_csv('qcrsp500d_raw.csv.gz', compression='gzip')

crsp_sp = crsp_sp.rename(columns={'caldt':'date'})
crsp_sp['date'] = pd.to_datetime(crsp_sp['date'])

crsp_sp.head()

,date,vwretd,vwretx,ewretd,ewretx,totval,totcnt,usdval,usdcnt,spindx,sprtrn
0,1925-12-31,NaN,NaN,NaN,NaN,15236829.5,89.0,NaN,NaN,NaN,NaN
1,1926-01-02,0.004297,0.004297,0.002941,0.002941,15319686.5,89.0,15236829.5,79.0,NaN,NaN
2,1926-01-04,-0.001357,-0.001357,0.001036,0.001036,15298901.2,89.0,15319686.5,80.0,NaN,NaN
3,1926-01-05,-0.004603,-0.004653,-0.005856,-0.006063,15227711.5,89.0,15298901.2,80.0,NaN,NaN
4,1926-01-06,0.000537,0.000537,0.000888,0.000888,15235889.2,89.0,15227711.5,80.0,NaN,NaN

#### CRSP Daily Stock Event - Delisting

In [10]:
dlret = pd.read_csv('qdlretd_raw.csv.gz', compression='gzip')

dlret = dlret[['permno', 'dlret', 'dlstdt']]

dlret[['permno']] = dlret[['permno']].astype(int)

dlret['date'] = pd.to_datetime(dlret['dlstdt'])

dlret.head()

   permno     dlret      dlstdt       date
0   10000  0.000000  1987-06-11 1987-06-11
1   10001  0.000000  2017-08-03 2017-08-03
2   10002  0.010906  2013-02-15 2013-02-15
3   10003 -0.003648  1995-12-15 1995-12-15
4   10004       NaN  1986-01-17 1986-01-17

##### Format Dates

In [11]:
crsp_d = util.jdate(crsp_d)
crsp_sp = util.jdate(crsp_sp)
dlret = util.jdate(dlret)

### Trim Stocks

#### Import Saved Permno from Program 2a (aka Investible Universe)

In [12]:
permlist = pd.read_csv('qpermlist.csv.gz', compression='gzip')

permlist['jdate'] = pd.to_datetime(permlist['jdate'])

In [13]:
permlist['month']=permlist['jdate'].dt.month
permlist['year']=permlist['jdate'].dt.year

# Only keep permno that show up in top 3000 in December of that year,
permlist=permlist[permlist['month']==12]

In [14]:
print(permlist)

        permno      jdate  month  year
0        10001 2011-12-31     12  2011
1        10001 2012-12-31     12  2012
2        10001 2014-12-31     12  2014
3        10001 2016-12-31     12  2016
4        10002 2002-12-31     12  2002
...        ...        ...    ...   ...
199398   93436 2016-12-31     12  2016
199399   93436 2017-12-31     12  2017
199400   93436 2018-12-31     12  2018
199401   93436 2019-12-31     12  2019
199402   93436 2020-12-31     12  2020

[199403 rows x 4 columns]

In [15]:
# Used for trimming crsp_d
permshort=(permlist['permno'].drop_duplicates())

print(permshort)

0         10001
4         10002
10        10003
12        10006
71        10008
          ...
199384    93430
199385    93433
199386    93434
199391    93435
199392    93436
Name: permno, Length: 17384, dtype: int64

In [16]:
# Trim to last 30ish years
crsp_d['year'] = crsp_d['jdate'].dt.year
crsp_d = crsp_d[crsp_d['year']>=1990]
permlist['year'] = permlist['jdate'].dt.year
permlist = permlist[permlist['year']>=1990]

crsp_d.head()

,permno,permco,ret,retx,shrout,prc,shrcd,exchcd,namedt,nameendt,jdate,year
0,10001,7953,0.000000,0.000000,1022.0,10.1250,11.0,3.0,1986-01-09,1993-11-21,1990-01-02,1990
10,10001,7953,-0.012346,-0.012346,1022.0,10.0000,11.0,3.0,1986-01-09,1993-11-21,1990-01-03,1990
20,10001,7953,0.000000,0.000000,1022.0,10.0000,11.0,3.0,1986-01-09,1993-11-21,1990-01-04,1990
30,10001,7953,0.006250,0.006250,1022.0,-10.0625,11.0,3.0,1986-01-09,1993-11-21,1990-01-05,1990
40,10001,7953,0.006211,0.006211,1022.0,10.1250,11.0,3.0,1986-01-09,1993-11-21,1990-01-08,1990

### Combine Returns

In [17]:
crsp = util.comebineRet(crsp_d,dlret)

crsp.head()

,permno,permco,ret,retx,shrout,prc,shrcd,exchcd,namedt,nameendt,jdate,year,dlret,dlstdt,retadj,retxadj
0,10001,7953,0.000000,0.000000,1022.0,10.1250,11.0,3.0,1986-01-09,1993-11-21,1990-01-02,1990,0.0,NaN,0.000000,0.000000
1,10001,7953,-0.012346,-0.012346,1022.0,10.0000,11.0,3.0,1986-01-09,1993-11-21,1990-01-03,1990,0.0,NaN,-0.012346,-0.012346
2,10001,7953,0.000000,0.000000,1022.0,10.0000,11.0,3.0,1986-01-09,1993-11-21,1990-01-04,1990,0.0,NaN,0.000000,0.000000
3,10001,7953,0.006250,0.006250,1022.0,-10.0625,11.0,3.0,1986-01-09,1993-11-21,1990-01-05,1990,0.0,NaN,0.006250,0.006250
4,10001,7953,0.006211,0.006211,1022.0,10.1250,11.0,3.0,1986-01-09,1993-11-21,1990-01-08,1990,0.0,NaN,0.006211,0.006211

### Prune Stocks

In [18]:
# Prune stocks, map all equity to largest permno
crsp = util.maxCap(crsp)

crsp.head()

,permno,permco,ret,retx,shrcd,exchcd,namedt,nameendt,jdate,year,retadj,retxadj,me
2670,10001,7953,0.000000,0.000000,11.0,3.0,1986-01-09,1993-11-21,1990-01-02,1990,0.000000,0.000000,10347.750
8456,10001,7953,-0.012346,-0.012346,11.0,3.0,1986-01-09,1993-11-21,1990-01-03,1990,-0.012346,-0.012346,10220.000
14242,10001,7953,0.000000,0.000000,11.0,3.0,1986-01-09,1993-11-21,1990-01-04,1990,0.000000,0.000000,10220.000
20024,10001,7953,0.006250,0.006250,11.0,3.0,1986-01-09,1993-11-21,1990-01-05,1990,0.006250,0.006250,10283.875
25803,10001,7953,0.006211,0.006211,11.0,3.0,1986-01-09,1993-11-21,1990-01-08,1990,0.006211,0.006211,10347.750

In [19]:
# Trim daily returns to only those companies (permno) that have relevant market cap on dec 12 of that year
crsp = crsp[crsp['permno'].isin(permshort)]

crsp.head()

,permno,permco,ret,retx,shrcd,exchcd,namedt,nameendt,jdate,year,retadj,retxadj,me
2670,10001,7953,0.000000,0.000000,11.0,3.0,1986-01-09,1993-11-21,1990-01-02,1990,0.000000,0.000000,10347.750
8456,10001,7953,-0.012346,-0.012346,11.0,3.0,1986-01-09,1993-11-21,1990-01-03,1990,-0.012346,-0.012346,10220.000
14242,10001,7953,0.000000,0.000000,11.0,3.0,1986-01-09,1993-11-21,1990-01-04,1990,0.000000,0.000000,10220.000
20024,10001,7953,0.006250,0.006250,11.0,3.0,1986-01-09,1993-11-21,1990-01-05,1990,0.006250,0.006250,10283.875
25803,10001,7953,0.006211,0.006211,11.0,3.0,1986-01-09,1993-11-21,1990-01-08,1990,0.006211,0.006211,10347.750

### Merge in S&P 500

In [20]:
# Merge crsp and sp500
crsp = crsp.merge(crsp_sp,on=['jdate'])

### Top X by Market Cap

In [21]:
crsp = util.topX(crsp,'me',numstocks)

In [22]:
# Clear out any offending zero columns
crsp = crsp.dropna(how='all',axis=1)

# Clear out any remianing zero rows
crsp = crsp.dropna(how='any',axis=0)

In [23]:
crsp.head()

,permno,permco,ret,retx,shrcd,exchcd,namedt,nameendt,jdate,year,...,vwretd,vwretx,ewretd,ewretx,totval,totcnt,usdval,usdcnt,spindx,sprtrn
5,10016,1728,0.000000,0.000000,11.0,3.0,1986-12-29,1998-05-25,1990-01-02,1990,...,0.017527,0.017527,0.020005,0.020005,2.371903e+09,500.0,2.331046e+09,500.0,359.69,0.017799
6,10019,7971,0.000000,0.000000,11.0,3.0,1986-01-24,2002-06-18,1990-01-02,1990,...,0.017527,0.017527,0.020005,0.020005,2.371903e+09,500.0,2.331046e+09,500.0,359.69,0.017799
7,10020,7972,-0.018519,-0.018519,11.0,3.0,1986-01-27,1993-04-30,1990-01-02,1990,...,0.017527,0.017527,0.020005,0.020005,2.371903e+09,500.0,2.331046e+09,500.0,359.69,0.017799
8,10025,7975,0.008403,0.008403,11.0,3.0,1986-01-30,2004-06-09,1990-01-02,1990,...,0.017527,0.017527,0.020005,0.020005,2.371903e+09,500.0,2.331046e+09,500.0,359.69,0.017799
9,10026,7976,-0.050505,-0.050505,11.0,3.0,1986-02-04,2000-07-31,1990-01-02,1990,...,0.017527,0.017527,0.020005,0.020005,2.371903e+09,500.0,2.331046e+09,500.0,359.69,0.017799

### Loop Prep

In [24]:
# Do this stuff before the loop to save time
crsp['month'] = crsp['jdate'].dt.month
crsp['year'] = crsp['jdate'].dt.year
permlist['month'] = permlist['jdate'].dt.month
permlist['year'] = permlist['jdate'].dt.year
permlist['mktSD'] = 0
permlist['covmktstock'] = 0
permlist['beta'] = 0
crsp = crsp.sort_values(['permno','jdate'])
crsp = crsp.reset_index(drop=True)

#### *This is where the code differs for non-winsorized beta*

# Details the specifics of the type of winsorized beta
delta = 3
refsig = 'sprtrn'
wsig = 'retadj'
df = util.winsorize(crsp,wsig,refsig,delta)

In [26]:
# Adjust returns to be used in loop
df = crsp
df.head()

,permno,permco,ret,retx,shrcd,exchcd,namedt,nameendt,jdate,year,...,vwretx,ewretd,ewretx,totval,totcnt,usdval,usdcnt,spindx,sprtrn,month
0,10001,7953,0.000850,0.000850,11.0,2.0,2009-12-18,2010-07-08,2010-06-08,2010,...,0.010778,0.009880,0.009652,9.847288e+09,500.0,9.742286e+09,500.0,1062.00,0.010976,6
1,10001,7953,0.016143,0.016143,11.0,2.0,2009-12-18,2010-07-08,2010-06-09,2010,...,-0.005761,-0.002144,-0.002249,9.790557e+09,500.0,9.847288e+09,500.0,1055.69,-0.005942,6
2,10001,7953,0.043257,0.043257,11.0,2.0,2009-12-18,2010-07-08,2010-06-14,2010,...,-0.001718,0.000477,0.000461,1.010139e+10,500.0,1.011878e+10,500.0,1089.63,-0.001805,6
3,10001,7953,0.030151,0.030151,11.0,2.0,2009-12-18,2010-07-08,2010-06-25,2010,...,0.002990,0.007330,0.007330,9.976495e+09,500.0,9.947060e+09,500.0,1076.76,0.002859,6
4,10001,7953,-0.035772,-0.035772,11.0,2.0,2009-12-18,2010-07-08,2010-06-28,2010,...,-0.002304,-0.003204,-0.003470,9.958139e+09,500.0,9.956838e+09,500.0,1074.57,-0.002034,6

to get a normal beta you would just not adjust the returns

#### Save Files "Pre For Loop"

crsp.to_csv("prefor_crsp.csv.gz", 
           index=False, 
           compression="gzip")

permlist.to_csv("prefor_permlist.csv.gz", 
           index=False, 
           compression="gzip")

##### can read back in "pre-loop" files if need be

## Beta Loop

In [27]:
# Initialize a dataframe
looplist = crsp['permno'].drop_duplicates().to_list()

# Loop to calculate betas directly using 
ll = len(looplist)

for i in range(ll):
    if(i%10==0):
        print(str(round(i/ll*100,2)) + '% complete')
        
    #Initialize loop dataframe
    loop_df = crsp[crsp['permno']==looplist[i]]
    year_loop_iter = permlist[permlist['permno']==looplist[i]]['year']

    for yiter in year_loop_iter:
        try:
            idx = permlist.loc[(permlist['permno']==looplist[i])
                &(permlist['year']==yiter)
                &(permlist['month']==12)].index[0]
        except:
            pass
        subloop_df = loop_df[(loop_df['year']>yiter-window)&(loop_df['year']<=yiter)]
        mktSD = subloop_df['sprtrn'].std()
        # Changed from wretadj to retadj to get normal beta
        covmktstock = subloop_df['sprtrn'].cov(subloop_df['retadj'])
        beta = covmktstock/mktSD**2
        permlist.loc[idx,'mktSD'] = mktSD
        permlist.loc[idx,'covmktstock'] = covmktstock
        permlist.loc[idx,'beta'] = beta

0.0% complete
0.09% complete
0.17% complete
0.26% complete
0.34% complete
0.43% complete
0.51% complete
0.6% complete
0.69% complete
0.77% complete

/Users/natejensen/opt/anaconda3/lib/python3.8/site-packages/pandas/core/nanops.py:1581: RuntimeWarning: Degrees of freedom <= 0 for slice
  return np.cov(a, b, ddof=ddof)[0, 1]
/Users/natejensen/opt/anaconda3/lib/python3.8/site-packages/numpy/lib/function_base.py:2542: RuntimeWarning: divide by zero encountered in true_divide
  c *= np.true_divide(1, fact)

0.86% complete
0.94% complete
1.03% complete
1.12% complete
1.2% complete
1.29% complete
1.37% complete
1.46% complete
1.54% complete
1.63% complete
1.72% complete
1.8% complete
1.89% complete
1.97% complete
2.06% complete
2.14% complete
2.23% complete
2.32% complete
2.4% complete
2.49% complete
2.57% complete
2.66% complete
2.74% complete
2.83% complete
2.92% complete
3.0% complete
3.09% complete
3.17% complete
3.26% complete
3.35% complete
3.43% complete
3.52% complete
3.6% complete
3.69% complete
3.77% complete
3.86% complete
3.95% complete
4.03% complete
4.12% complete
4.2% complete
4.29% complete
4.37% complete
4.46% complete
4.55% complete
4.63% complete
4.72% complete
4.8% complete
4.89% complete
4.97% complete
5.06% complete
5.15% complete
5.23% complete
5.32% complete
5.4% complete
5.49% complete
5.58% complete
5.66% complete
5.75% complete
5.83% complete
5.92% complete
6.0% complete
6.09% complete
6.18% complete
6.26% complete
6.35% complete
6.43% complete
6.52% complete
6.6% complete
6.69% complete
6.78% complete
6.86% complete
6.95% complete
7.03% complete
7.12% complete
7.2% complete
7.29% complete
7.38% complete
7.46% complete
7.55% complete
7.63% complete
7.72% complete
7.81% complete
7.89% complete
7.98% complete
8.06% complete
8.15% complete
8.23% complete
8.32% complete
8.41% complete
8.49% complete
8.58% complete
8.66% complete
8.75% complete
8.83% complete
8.92% complete
9.01% complete
9.09% complete
9.18% complete
9.26% complete
9.35% complete
9.43% complete
9.52% complete
9.61% complete
9.69% complete
9.78% complete
9.86% complete
9.95% complete
10.04% complete
10.12% complete
10.21% complete
10.29% complete
10.38% complete
10.46% complete
10.55% complete
10.64% complete
10.72% complete
10.81% complete
10.89% complete
10.98% complete
11.06% complete
11.15% complete
11.24% complete
11.32% complete
11.41% complete
11.49% complete
11.58% complete
11.66% complete
11.75% complete
11.84% complete
11.92% complete
12.01% complete
12.09% complete
12.18% complete
12.27% complete
12.35% complete
12.44% complete
12.52% complete
12.61% complete
12.69% complete
12.78% complete
12.87% complete
12.95% complete
13.04% complete
13.12% complete
13.21% complete
13.29% complete
13.38% complete
13.47% complete
13.55% complete
13.64% complete
13.72% complete
13.81% complete
13.89% complete
13.98% complete
14.07% complete
14.15% complete
14.24% complete
14.32% complete
14.41% complete
14.5% complete
14.58% complete
14.67% complete
14.75% complete
14.84% complete
14.92% complete
15.01% complete
15.1% complete
15.18% complete
15.27% complete
15.35% complete
15.44% complete
15.52% complete
15.61% complete
15.7% complete
15.78% complete
15.87% complete
15.95% complete
16.04% complete
16.12% complete
16.21% complete
16.3% complete
16.38% complete
16.47% complete
16.55% complete
16.64% complete
16.73% complete
16.81% complete
16.9% complete
16.98% complete
17.07% complete
17.15% complete
17.24% complete
17.33% complete
17.41% complete
17.5% complete
17.58% complete
17.67% complete
17.75% complete
17.84% complete
17.93% complete
18.01% complete
18.1% complete
18.18% complete
18.27% complete
18.35% complete
18.44% complete
18.53% complete
18.61% complete
18.7% complete
18.78% complete
18.87% complete
18.96% complete
19.04% complete
19.13% complete
19.21% complete
19.3% complete
19.38% complete
19.47% complete
19.56% complete
19.64% complete
19.73% complete
19.81% complete
19.9% complete
19.98% complete
20.07% complete
20.16% complete
20.24% complete
20.33% complete
20.41% complete
20.5% complete
20.58% complete
20.67% complete
20.76% complete
20.84% complete
20.93% complete
21.01% complete
21.1% complete
21.19% complete
21.27% complete
21.36% complete
21.44% complete
21.53% complete
21.61% complete
21.7% complete
21.79% complete
21.87% complete
21.96% complete
22.04% complete
22.13% complete
22.21% complete
22.3% complete
22.39% complete
22.47% complete
22.56% complete
22.64% complete
22.73% complete
22.81% complete
22.9% complete
22.99% complete
23.07% complete
23.16% complete
23.24% complete
23.33% complete
23.42% complete
23.5% complete
23.59% complete
23.67% complete
23.76% complete
23.84% complete
23.93% complete
24.02% complete
24.1% complete
24.19% complete
24.27% complete
24.36% complete
24.44% complete
24.53% complete
24.62% complete
24.7% complete
24.79% complete
24.87% complete
24.96% complete
25.05% complete
25.13% complete
25.22% complete
25.3% complete
25.39% complete
25.47% complete
25.56% complete
25.65% complete
25.73% complete
25.82% complete
25.9% complete
25.99% complete
26.07% complete
26.16% complete
26.25% complete
26.33% complete
26.42% complete
26.5% complete
26.59% complete
26.67% complete
26.76% complete
26.85% complete
26.93% complete
27.02% complete
27.1% complete
27.19% complete
27.28% complete
27.36% complete
27.45% complete
27.53% complete
27.62% complete
27.7% complete
27.79% complete
27.88% complete
27.96% complete
28.05% complete
28.13% complete
28.22% complete
28.3% complete
28.39% complete
28.48% complete
28.56% complete
28.65% complete
28.73% complete
28.82% complete
28.9% complete
28.99% complete
29.08% complete
29.16% complete
29.25% complete
29.33% complete
29.42% complete
29.51% complete
29.59% complete
29.68% complete
29.76% complete
29.85% complete
29.93% complete
30.02% complete
30.11% complete
30.19% complete
30.28% complete
30.36% complete
30.45% complete
30.53% complete
30.62% complete
30.71% complete
30.79% complete
30.88% complete
30.96% complete
31.05% complete
31.13% complete
31.22% complete
31.31% complete
31.39% complete
31.48% complete
31.56% complete
31.65% complete
31.74% complete
31.82% complete
31.91% complete
31.99% complete
32.08% complete
32.16% complete
32.25% complete
32.34% complete
32.42% complete
32.51% complete
32.59% complete
32.68% complete
32.76% complete
32.85% complete
32.94% complete
33.02% complete
33.11% complete
33.19% complete
33.28% complete
33.36% complete
33.45% complete
33.54% complete
33.62% complete
33.71% complete
33.79% complete
33.88% complete
33.97% complete
34.05% complete
34.14% complete
34.22% complete
34.31% complete
34.39% complete
34.48% complete
34.57% complete
34.65% complete
34.74% complete
34.82% complete
34.91% complete
34.99% complete
35.08% complete
35.17% complete
35.25% complete
35.34% complete
35.42% complete
35.51% complete
35.59% complete
35.68% complete
35.77% complete
35.85% complete
35.94% complete
36.02% complete
36.11% complete
36.2% complete
36.28% complete
36.37% complete
36.45% complete
36.54% complete
36.62% complete
36.71% complete
36.8% complete
36.88% complete
36.97% complete
37.05% complete
37.14% complete
37.22% complete
37.31% complete
37.4% complete
37.48% complete
37.57% complete
37.65% complete
37.74% complete
37.82% complete
37.91% complete
38.0% complete
38.08% complete
38.17% complete
38.25% complete
38.34% complete
38.43% complete
38.51% complete
38.6% complete
38.68% complete
38.77% complete
38.85% complete
38.94% complete
39.03% complete
39.11% complete
39.2% complete
39.28% complete
39.37% complete
39.45% complete
39.54% complete
39.63% complete
39.71% complete
39.8% complete
39.88% complete
39.97% complete
40.05% complete
40.14% complete
40.23% complete
40.31% complete
40.4% complete
40.48% complete
40.57% complete
40.66% complete
40.74% complete
40.83% complete
40.91% complete
41.0% complete
41.08% complete
41.17% complete
41.26% complete
41.34% complete
41.43% complete
41.51% complete
41.6% complete
41.68% complete
41.77% complete
41.86% complete
41.94% complete
42.03% complete
42.11% complete
42.2% complete
42.28% complete
42.37% complete
42.46% complete
42.54% complete
42.63% complete
42.71% complete
42.8% complete
42.89% complete
42.97% complete
43.06% complete
43.14% complete
43.23% complete
43.31% complete
43.4% complete
43.49% complete
43.57% complete
43.66% complete
43.74% complete
43.83% complete
43.91% complete
44.0% complete
44.09% complete
44.17% complete
44.26% complete
44.34% complete
44.43% complete
44.51% complete
44.6% complete
44.69% complete
44.77% complete
44.86% complete
44.94% complete
45.03% complete
45.12% complete
45.2% complete
45.29% complete
45.37% complete
45.46% complete
45.54% complete

45.63% complete
45.72% complete
45.8% complete
45.89% complete
45.97% complete
46.06% complete
46.14% complete
46.23% complete
46.32% complete
46.4% complete
46.49% complete
46.57% complete
46.66% complete
46.75% complete
46.83% complete
46.92% complete
47.0% complete
47.09% complete
47.17% complete
47.26% complete
47.35% complete
47.43% complete
47.52% complete
47.6% complete
47.69% complete
47.77% complete
47.86% complete
47.95% complete
48.03% complete
48.12% complete
48.2% complete
48.29% complete
48.37% complete
48.46% complete
48.55% complete
48.63% complete
48.72% complete
48.8% complete
48.89% complete
48.98% complete
49.06% complete
49.15% complete
49.23% complete
49.32% complete
49.4% complete
49.49% complete
49.58% complete
49.66% complete
49.75% complete
49.83% complete
49.92% complete
50.0% complete
50.09% complete
50.18% complete
50.26% complete
50.35% complete
50.43% complete
50.52% complete
50.6% complete
50.69% complete
50.78% complete
50.86% complete
50.95% complete
51.03% complete
51.12% complete
51.21% complete
51.29% complete
51.38% complete
51.46% complete
51.55% complete
51.63% complete
51.72% complete
51.81% complete
51.89% complete
51.98% complete
52.06% complete
52.15% complete
52.23% complete
52.32% complete
52.41% complete
52.49% complete
52.58% complete
52.66% complete
52.75% complete
52.83% complete
52.92% complete
53.01% complete
53.09% complete
53.18% complete
53.26% complete
53.35% complete
53.44% complete
53.52% complete
53.61% complete
53.69% complete
53.78% complete
53.86% complete
53.95% complete
54.04% complete
54.12% complete
54.21% complete
54.29% complete
54.38% complete
54.46% complete
54.55% complete
54.64% complete
54.72% complete
54.81% complete
54.89% complete
54.98% complete
55.06% complete
55.15% complete
55.24% complete
55.32% complete
55.41% complete
55.49% complete
55.58% complete
55.67% complete
55.75% complete
55.84% complete
55.92% complete
56.01% complete
56.09% complete
56.18% complete
56.27% complete
56.35% complete
56.44% complete
56.52% complete
56.61% complete
56.69% complete
56.78% complete
56.87% complete
56.95% complete
57.04% complete
57.12% complete
57.21% complete
57.29% complete
57.38% complete
57.47% complete
57.55% complete
57.64% complete
57.72% complete
57.81% complete
57.9% complete
57.98% complete
58.07% complete
58.15% complete
58.24% complete
58.32% complete
58.41% complete
58.5% complete
58.58% complete
58.67% complete
58.75% complete
58.84% complete
58.92% complete
59.01% complete
59.1% complete
59.18% complete
59.27% complete
59.35% complete
59.44% complete
59.52% complete
59.61% complete
59.7% complete
59.78% complete
59.87% complete
59.95% complete
60.04% complete
60.13% complete
60.21% complete
60.3% complete
60.38% complete
60.47% complete
60.55% complete
60.64% complete
60.73% complete
60.81% complete
60.9% complete
60.98% complete
61.07% complete
61.15% complete
61.24% complete
61.33% complete
61.41% complete
61.5% complete
61.58% complete
61.67% complete
61.75% complete
61.84% complete
61.93% complete
62.01% complete
62.1% complete
62.18% complete
62.27% complete
62.36% complete
62.44% complete
62.53% complete
62.61% complete
62.7% complete
62.78% complete
62.87% complete
62.96% complete
63.04% complete
63.13% complete
63.21% complete
63.3% complete
63.38% complete
63.47% complete
63.56% complete
63.64% complete
63.73% complete
63.81% complete
63.9% complete
63.98% complete
64.07% complete
64.16% complete
64.24% complete
64.33% complete
64.41% complete
64.5% complete
64.59% complete
64.67% complete
64.76% complete
64.84% complete
64.93% complete
65.01% complete
65.1% complete
65.19% complete
65.27% complete
65.36% complete
65.44% complete
65.53% complete
65.61% complete
65.7% complete
65.79% complete
65.87% complete
65.96% complete
66.04% complete
66.13% complete
66.21% complete
66.3% complete
66.39% complete
66.47% complete
66.56% complete
66.64% complete
66.73% complete
66.82% complete
66.9% complete
66.99% complete
67.07% complete
67.16% complete
67.24% complete
67.33% complete
67.42% complete
67.5% complete
67.59% complete
67.67% complete
67.76% complete
67.84% complete
67.93% complete
68.02% complete
68.1% complete
68.19% complete
68.27% complete
68.36% complete
68.44% complete
68.53% complete
68.62% complete
68.7% complete
68.79% complete
68.87% complete
68.96% complete
69.05% complete
69.13% complete
69.22% complete
69.3% complete
69.39% complete
69.47% complete
69.56% complete
69.65% complete
69.73% complete
69.82% complete
69.9% complete
69.99% complete
70.07% complete
70.16% complete
70.25% complete
70.33% complete
70.42% complete
70.5% complete
70.59% complete
70.68% complete
70.76% complete
70.85% complete
70.93% complete
71.02% complete
71.1% complete
71.19% complete
71.28% complete
71.36% complete
71.45% complete
71.53% complete
71.62% complete
71.7% complete
71.79% complete
71.88% complete
71.96% complete
72.05% complete
72.13% complete
72.22% complete
72.3% complete
72.39% complete
72.48% complete
72.56% complete
72.65% complete
72.73% complete
72.82% complete
72.91% complete
72.99% complete
73.08% complete
73.16% complete
73.25% complete
73.33% complete
73.42% complete
73.51% complete
73.59% complete
73.68% complete
73.76% complete
73.85% complete
73.93% complete
74.02% complete
74.11% complete
74.19% complete
74.28% complete
74.36% complete
74.45% complete
74.53% complete
74.62% complete
74.71% complete
74.79% complete
74.88% complete
74.96% complete
75.05% complete
75.14% complete
75.22% complete
75.31% complete
75.39% complete
75.48% complete
75.56% complete
75.65% complete
75.74% complete
75.82% complete
75.91% complete
75.99% complete
76.08% complete
76.16% complete
76.25% complete
76.34% complete
76.42% complete
76.51% complete
76.59% complete
76.68% complete
76.76% complete
76.85% complete
76.94% complete
77.02% complete
77.11% complete
77.19% complete
77.28% complete
77.37% complete
77.45% complete
77.54% complete
77.62% complete
77.71% complete
77.79% complete
77.88% complete
77.97% complete
78.05% complete
78.14% complete
78.22% complete
78.31% complete
78.39% complete
78.48% complete
78.57% complete
78.65% complete
78.74% complete
78.82% complete
78.91% complete
78.99% complete
79.08% complete
79.17% complete
79.25% complete
79.34% complete
79.42% complete
79.51% complete
79.6% complete
79.68% complete
79.77% complete
79.85% complete
79.94% complete
80.02% complete
80.11% complete
80.2% complete
80.28% complete
80.37% complete
80.45% complete
80.54% complete
80.62% complete
80.71% complete
80.8% complete
80.88% complete
80.97% complete
81.05% complete
81.14% complete
81.22% complete
81.31% complete
81.4% complete
81.48% complete
81.57% complete
81.65% complete
81.74% complete
81.83% complete
81.91% complete
82.0% complete
82.08% complete
82.17% complete
82.25% complete
82.34% complete
82.43% complete
82.51% complete
82.6% complete
82.68% complete
82.77% complete
82.85% complete
82.94% complete
83.03% complete
83.11% complete
83.2% complete
83.28% complete
83.37% complete
83.45% complete
83.54% complete
83.63% complete
83.71% complete
83.8% complete
83.88% complete
83.97% complete
84.06% complete
84.14% complete
84.23% complete
84.31% complete
84.4% complete
84.48% complete
84.57% complete
84.66% complete
84.74% complete
84.83% complete
84.91% complete
85.0% complete
85.08% complete
85.17% complete
85.26% complete
85.34% complete
85.43% complete
85.51% complete
85.6% complete
85.68% complete
85.77% complete
85.86% complete
85.94% complete
86.03% complete
86.11% complete
86.2% complete
86.29% complete
86.37% complete
86.46% complete
86.54% complete
86.63% complete
86.71% complete
86.8% complete
86.89% complete
86.97% complete
87.06% complete
87.14% complete
87.23% complete
87.31% complete
87.4% complete
87.49% complete
87.57% complete
87.66% complete
87.74% complete
87.83% complete
87.91% complete
88.0% complete
88.09% complete
88.17% complete
88.26% complete
88.34% complete
88.43% complete
88.52% complete
88.6% complete
88.69% complete
88.77% complete
88.86% complete
88.94% complete
89.03% complete
89.12% complete
89.2% complete
89.29% complete
89.37% complete
89.46% complete
89.54% complete
89.63% complete
89.72% complete
89.8% complete

89.89% complete
89.97% complete
90.06% complete
90.14% complete
90.23% complete
90.32% complete
90.4% complete
90.49% complete
90.57% complete
90.66% complete
90.75% complete
90.83% complete
90.92% complete
91.0% complete
91.09% complete
91.17% complete
91.26% complete
91.35% complete
91.43% complete
91.52% complete
91.6% complete
91.69% complete
91.77% complete
91.86% complete
91.95% complete
92.03% complete
92.12% complete
92.2% complete
92.29% complete
92.37% complete
92.46% complete
92.55% complete
92.63% complete
92.72% complete
92.8% complete
92.89% complete
92.98% complete
93.06% complete
93.15% complete
93.23% complete
93.32% complete
93.4% complete
93.49% complete
93.58% complete
93.66% complete
93.75% complete
93.83% complete
93.92% complete
94.0% complete
94.09% complete
94.18% complete
94.26% complete
94.35% complete
94.43% complete
94.52% complete
94.61% complete
94.69% complete
94.78% complete
94.86% complete
94.95% complete
95.03% complete
95.12% complete
95.21% complete
95.29% complete
95.38% complete
95.46% complete
95.55% complete
95.63% complete
95.72% complete
95.81% complete
95.89% complete
95.98% complete
96.06% complete
96.15% complete
96.23% complete
96.32% complete
96.41% complete
96.49% complete
96.58% complete
96.66% complete
96.75% complete
96.84% complete
96.92% complete
97.01% complete
97.09% complete
97.18% complete
97.26% complete
97.35% complete
97.44% complete
97.52% complete
97.61% complete
97.69% complete
97.78% complete
97.86% complete
97.95% complete
98.04% complete
98.12% complete
98.21% complete
98.29% complete
98.38% complete
98.46% complete
98.55% complete
98.64% complete
98.72% complete
98.81% complete
98.89% complete
98.98% complete
99.07% complete
99.15% complete
99.24% complete
99.32% complete
99.41% complete
99.49% complete
99.58% complete
99.67% complete
99.75% complete
99.84% complete
99.92% complete

In [28]:
permlist.head(100)

     permno      jdate  month  year     mktSD  covmktstock      beta
0     10001 2011-12-31     12  2011  0.015311     0.000045  0.191367
1     10001 2012-12-31     12  2012  0.008042     0.000011  0.177603
2     10001 2014-12-31     12  2014  0.007163     0.000011  0.214663
3     10001 2016-12-31     12  2016  0.008193     0.000016  0.233114
4     10002 2002-12-31     12  2002  0.019160     0.000055  0.150805
..      ...        ...    ...   ...       ...          ...       ...
306   10032 2005-12-31     12  2005  0.006479     0.000063  1.504223
307   10032 2006-12-31     12  2006  0.006322     0.000113  2.834012
308   10032 2007-12-31     12  2007  0.010070     0.000106  1.041029
309   10032 2008-12-31     12  2008  0.025808     0.000740  1.111356
310   10032 2009-12-31     12  2009  0.017188     0.000450  1.522410

[100 rows x 7 columns]

### Export

In [29]:
permlist.to_csv("beta_"+str(window)+".csv.gz", 
           index=False, 
           compression="gzip")